* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top: 50px;
}
.container {
  width: 50vw;
}
.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input div {
  width:100px;
}
.input input {
  width: 100%;
  margin:0px 20px;
}
.listItem {
  display: flex;
  justify-content: center;
  width:100%;
  margin-top: 20px;
}
.listItem .list-group-item {
  width:100%;
}

